doctype html
html
	head
		title Load Test App
		link(rel="icon",href="favicon.png")
		link(rel="stylesheet",href="/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet",href="/bootstrap/dist/css/bootstrap-theme.css")
		script(src="/jquery/dist/jquery.js")
		script(type="text/javascript").
			$(function() {
				var reqPerSec = 0, reqError = 0, reqSuccess = 0,
					$reqPerSec = $('#req-per-sec'),
					$reqSuccess = $('#req-success'),
					$reqError = $('#req-error');

				function makeReq() {
					$.get('/req')
						.success(function() {
							reqPerSec++;
							reqSuccess++;

							makeReq();
						})
						.error(function() {
							reqError++;
							
							makeReq();
						});
				}

				setInterval(function() {
					$reqPerSec.text(reqPerSec);
					$reqSuccess.text(reqSuccess);
					$reqError.text(reqError);

					reqPerSec = 0;
				}, 1000);

				makeReq();
			});
	body
		div.container
			h1 Load test app

			table.table
				colgroup
					col(style="width: 20%")
					col(style="width: 80%")
				tbody
					tr
						td Req per second
						td#req-per-sec 345
					tr
						td Req success
						td#req-success 456
					tr
						td Req errors
						td#req-error 456